*{
    margin: 0;
    padding: 0;
}
 .navbar {
        display: flex;
        background: #c4c7c4;
        padding: 10px 20px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;      
      }

      h1 a{ 
        color: black;
        text-decoration: none;
        width: 12rem;
      }

      .menu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .item {
        margin: 0 15px;
      }

      .item a {
        text-decoration: none;
        color: #696868;
        font-weight: bold;
      }

      .item a:hover {
        color: #2258c3;
        border-bottom:2px solid black ;
      }
.a{
  display: flex;
  justify-content: center;
  margin:0px 20px 20px 20px;
}
.a1{
  width: 25rem;
  margin-right: 5px;
  padding: 5rem 4rem;
  color: aliceblue;
  background-color: #414142;
  font-size: 1.5rem;
}
.a1 h1{  
  width: 150px;
  padding-bottom: 20px;
}
.a1 p{
  width: 350px;

}
.a2{
  margin-left: 5px;
  width: 75rem;
  height: 600px;
  background-image: url(./hvacimg/h12.jpeg);
  background-size:cover ;
  justify-content: center;
}
.b{
  display: flex;
  justify-content: center;
  margin:0px 20px 20px 20px;
}
.b1{
   width: 25rem;
  margin-right: 5px;
  padding:4rem 8rem  4rem 0rem;
  font-size: 1.5rem;
}
.b2{
  width: 75rem;
  margin-right: 5px;
  padding:6rem 0rem 2rem 0rem;
  font-size: 1.5rem;
}
.c{
  margin: 20px;
}
.c1{
  padding: 5px ;
}
.c1 p{
  padding: 20px 0px;
  font-size:20px;
}
.d{
  display: flex;
  padding: 30px ;
  margin-bottom: 0;
  padding-bottom:0 ;
}
.d1{
  width: 40rem;
  height: 25rem;
  background-image: url(./hvacimg/h13.jpeg);
  background-attachment: fixed;
  background-size: contain;

}
.d2{
  width: 60rem;
  margin-left: 10px;
  padding: 10rem 0rem 10rem 10rem;
  background-color: rgb(198, 214, 214);
 align-content: center;
}
.d2 button{
  width: 110px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 20px;
}
footer{
  height: 150px;
  margin: 0px 30px 30px 30px;
  padding:30px;
  color: aliceblue;
  background-color: #414142;
  display: flex;
}
.f1{
  width: 30rem;
  padding: 0px 40px;
}
.f2 span{
  display: flex ;
  padding-bottom: 10PX;

}
.f2 span h4{
  width: 200px;
}
.p{
  padding: 10px 0px;
}
.f2 P a{

  color: aliceblue;
}